# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE/editor specific files
.idea/
.vscode/
.DS_Store

# Temporary files
*.tmp
*.temp

# Miscellaneous
coverage/
*.tgz
*.zip
*.tar
*.gz
*.7z
